apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: platform-app
  namespace: argocd
  annotations:
    argocd-image-updater.argoproj.io/image-list: platform-app=docker.io/<dockerhub-username>/platform-app
    argocd-image-updater.argoproj.io/platform-app.update-strategy: latest
    argocd-image-updater.argoproj.io/write-back-method: git
spec:
  project: default
  source:
    repoURL: https://github.com/dinshpatil5615/Gitops-platform-using-EKS.git
    targetRevision: main
    path: k8s
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
