name: Docker CI

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Print working directory
        run: pwd

      - name: Build Docker image
        run: |
          docker build \
            -t mydockerhubuser/gitops-platform-app:${{ github.sha }} \
            -f apps/Dockerfile \
            apps
